---
layout: base.njk
title: Home
permalink: /index.html
---
<div>Home content</div>

<div class="section">
  <h1 class="section__heading">First Section</h1>
</div>
<div class="section">
  <h1 class="section__heading">Second Section</h1>
</div>
