<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <script defer src="/js/main.js"></script>

</head>
<body>
  <a href="/" onclick="route()">Home</a>
  <a href="/blog" onclick="route()">Blog</a>
  <a href="/contact" onclick="route()">Contact</a>
  {{ content | safe }}
  <script type="module">
    import { Router } from '/js/router.js';
    new Router();
  </script>
</body>
</html>
