---
layout: base.njk
pagination:
  data: collections.work
  size: 1
  alias: work
permalink: /work/{{ work.data.slug }}/index.html
eleventyComputed:
  title: "{{ work.data.title }}"  # Move title here for proper data access

---

<article>
  <h1>{{ work.data.title }}</h1>
  <p>{{ work.data.description }}</p>
  {{ work.templateContent | safe }}
</article>
