<div>This is blog! Hello
   <div class="slide-number">
      <div class="prefix">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </div>
      <div class="postfix"><span>/</span>5</div>
    </div>

    <div class="slide-name">
    <div class="names">
        <div>Ether Shift Mode</div>
        <div>Solar Thread</div>
        <div>Quantum Sheen Veil</div>
      </div>
    </div>

      <div class="slide-year">
    <div class="years">
      <div>2023</div>s
      <div>2022</div>
      <div>2021</div>
    </div>
      </div>
</div>
